body{
    background-color: rgb(244, 234, 234);
    color: rgb(25, 24, 26);
    text-align: left;
    font-family: "Poppins";
    font-size: 20px;
    margin: 0;
    padding: 0;

}


#cabezera
{
    background:rgb(244 234 234);
    box-shadow: 0px 2px 20px 0px rgba(24, 3, 84, 0.5);
    color: rgb(95, 27, 154);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}
#cabezera #logo
{
    width: 50px;
    vertical-align: middle;
    
}

#cabezera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid palevioletred;
    margin: 0 auto;
}
#container h1
{
    font-size: 30px;
}

#footer
{
    background: #4b0444;
    color: white;
    text-align: center;
    padding: 0.5em;
}
